@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background: #f4f4f9;
    color: #000;
}

h1,h2,h3,h4{
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
}

h2{
    font-size: 28px;
    line-height: 42px;
}

h4{
    font-size: 16px;
    line-height: 32px;
}

p{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .05em;
}

ul{
    padding: 0;
    margin: 0;
}

a,a:hover,a:active{
    text-decoration: none;
    color: inherit;
    transition: .3s ease-in-out;
}

button{
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width:1280px){
        padding: 0 25px;
    }

    @media (max-width:996px){
        padding: 0 15px;
    }

    @media (max-width:569px){
        padding: 0 10px;
    }
}

.dGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;

    @media (max-width:1280px){
        grid-template-columns: repeat(3,1fr);
    }

    @media (max-width:996px){
        grid-template-columns: repeat(2,1fr);
    }

    @media (max-width:569px){
        grid-template-columns: 1fr;
    }
}

.btn{
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .05em;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;

    &.primary{
        background: #0057ff;
        border-color: #0057ff;
        color: #fff;
        &.tBg{
            background: transparent;
            color: #0057ff;
            border-color: transparent;
        }
    }

    &.danger{
        background: #bb0606;
        border-color: #bb0606;
        color: #fff;
        &.tBg{
            background: transparent;
            color: #bb0606;
            border-color: transparent;
        }
    }

    &:hover{
        &.primary{
            letter-spacing: .08em;
        }
        &.secondary{
            background: #0057ff;
            border-color: #0057ff;
            color: #fff;
        }
    }
}

.travelCard{
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    overflow: hidden;
    transition: .3s ease-in-out;
    .cardHeader{
        width: 100%;
        height: 200px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .cardBody{
        padding: 10px 15px;
        text-align: center;
        h2{
            font-size: 22px;
            margin-bottom: 15px;
            color: #2c3e50;
            line-height: 30px;
            text-transform: capitalize;
            position: relative;
            display: inline;
            padding: 0 0 2px;
            
            background: linear-gradient(to bottom, #2980b9 0%, #2980b9 98%);
            background-repeat: no-repeat;
            background-size: 0 2px;
            background-position: left 100%;
            transition: .3s ease-in-out;
        }
        p{
            color: #95a5a6;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .info{
            display: flex;
            justify-content: space-around;
            font-size: 15px;
            margin-bottom: 15px;
            color: #7f8c8d;
            i{
                font-size: 14px;
                color: rgba(255, 166, 0, 0.384);
                margin-left: 10px;
            }
        }
    }
    .desc{
        margin-bottom: 20px;
        font-size: 15px;
        color: #000;
        transition: .3s ease-in-out;
        font-weight: 500;
        line-height: 1.6;
    }
    .btn{
        margin-bottom: 10px;
        display: inline-block;
    }

    &:hover{
        transform: scale(1.03);
        box-shadow: 0 4px 8px rgba(0,0,0,.2);
        .desc{
            color: #2980b9;
        }
        .cardBody{
            h2{
                background-size: 100% 2px;
            }
        }
    }
}

#travelSec{
    padding: 25px 0;
}
