@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background: #000;
    color: #fff;
}

h1,h2,h3,h4{
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
}

p{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .05em;
}

ul{
    padding: 0;
    margin: 0;
}

a,a:hover,a:active{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    height: auto;
}

.dFlex{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    &.aic{
        align-items: center;
    }
    &.jcc{
        justify-content: center;
    }
    &.jcsb{
        justify-content: space-between;
    }
}

.dGrid{
    display: grid;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.btn{
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .05em;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;

    &.primary{
        background: #0057ff;
        border-color: #0057ff;
        color: #fff;
    }

    &:hover{
        &.primary{
            letter-spacing: .08em;
        }
        &.secondary{
            background: #0057ff;
            border-color: #0057ff;
            color: #fff;
        }
    }
}

nav{
    background: #080912;
    li{
        display: inline-block;
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
    }
    a{
        padding: 16px 0;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 0;
        display: block;
        opacity: .7;
        transition: .3s ease-in-out;

        &:hover{
            opacity: 1;
        }

        &.active{
            opacity: 1;
            font-weight: 700;
        }
    }
}

header{
    position: relative;
    padding: 100px 0;
    background: #010206;

    .content{
        max-width: 500px;
        text-align: center;
    }
    h2{
        font-size: 45px;
        font-weight: 600;
        letter-spacing: .03em;
        margin-bottom: 25px;
        
        span{
            color: #0057ff;
        }
    }
    p{
        font-size: 20px;
        opacity: .6;
        margin-bottom: 30px;
    }
    button{
        margin: 0 auto;
    }
}

#serviceSec{
    background: #070707;
    .dGrid{
        grid-template-columns: repeat(5,1fr);
    }
    .content{
        padding: 80px 25px;
        border-right: 1px solid #1e1e1e;
        text-align: center;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 25px;
    }
    p{
        font-size: 16px;
        opacity: .7;
    }
}

#aboutSec{
    padding: 100px 0;
    .leftSide{
        width: 60%;
    }
    .rightSide{
        width: 30%;
    }
    h2{
        font-size: 40px;
        margin-bottom: 25px;
        span{
            color: #0057ff;
        }
    }
    p{
        max-width: 500px;
        font-size: 16px;
        opacity: .7;
        margin-bottom: 35px;
    }
}

#projectSec{
    padding: 80px;
    background: #fff;
    color: #000;
    .dGrid{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .content{
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #efefef;
        .imgArea{
            overflow: hidden;
        }
        img{
            transition: .3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
    .textArea{
        padding: 15px 20px;
        h4{
            font-size: 16px;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}

#actionSec{
    padding: 50px;
    background: #f9f9fc;
    color: #000;
    .content{
        text-align: center;
        max-width: 500px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 35px;
    }
    button{
        margin: 0 auto;
    }
}

footer{
    background: #010101;
    padding-top: 80px;
    .logo{
        margin-bottom: 25px;
        text-align: center;
    }
    ul{
        margin-bottom: 50px;
    }
    li{
        display: inline-block;
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
        a{
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            border: 1px solid #1e1e1e;
            display: block;
            border-radius: 50px;
            transition: .2s ease-in-out;
            font-weight: 600;
            &:hover{
                background: #1e1e1e;
            }
        }
    }
    .copy{
        background: #151515;
        padding: 10px 0;
        p{
            font-size: 14px;
            font-weight: 600;
            opacity: .7;
            letter-spacing: .05em;
        }
    }
}