@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #000;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 28px;
  line-height: 42px;
}

h4 {
  font-size: 16px;
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

ul {
  padding: 0;
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.dFlex {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}
.dFlex.aic {
  align-items: center;
}
.dFlex.jcc {
  justify-content: center;
}
.dFlex.jcsb {
  justify-content: space-between;
}
.dFlex.fdc {
  flex-direction: column;
}

.dGrid {
  display: grid;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.pClr {
  color: #0057ff;
}

.textC {
  text-align: center;
}

.textR {
  text-align: right;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.btn {
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn.primary {
  background: #0057ff;
  border-color: #0057ff;
  color: #fff;
}
.btn:hover.primary {
  letter-spacing: 0.08em;
}
.btn:hover.secondary {
  background: #0057ff;
  border-color: #0057ff;
  color: #fff;
}

nav {
  background: #080912;
}
nav li {
  display: inline-block;
  margin-right: 25px;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
  display: block;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
nav a:hover {
  opacity: 1;
}
nav a.active {
  opacity: 1;
  font-weight: 700;
}
nav a.btn {
  opacity: 1 !important;
}

footer {
  background: #010101;
  padding-top: 80px;
}
footer .logo {
  margin-bottom: 25px;
  text-align: center;
}
footer ul {
  margin-bottom: 50px;
}
footer li {
  display: inline-block;
  margin-right: 25px;
}
footer li:last-child {
  margin-right: 0;
}
footer li a {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border: 1px solid #1e1e1e;
  display: block;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}
footer li a:hover {
  background: #1e1e1e;
}
footer .copy {
  background: #151515;
  padding: 10px 0;
}
footer .copy p {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
  letter-spacing: 0.05em;
}

#workHeader {
  height: 380px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#workHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(20px);
}
#workHeader .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#workHeader .title h2 {
  font-size: 45px;
}

#workDetailSec {
  padding: 80px 0;
  background: #151515;
  color: #fff;
}
#workDetailSec .content {
  max-width: 500px;
  margin: 0 auto;
}
#workDetailSec .content p {
  font-weight: 600;
  font-size: 16px;
}

#portfolioSec {
  padding: 80px 0;
  background: #151515;
  color: #fff;
}
#portfolioSec .dGrid {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
#portfolioSec .item {
  position: relative;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}
#portfolioSec .item .imgArea {
  position: relative;
  overflow: hidden;
  height: 250px;
}
#portfolioSec .item .imgArea img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#portfolioSec .item .textArea {
  padding: 15px;
}
#portfolioSec .item .textArea h4 {
  margin-bottom: 6px;
}
#portfolioSec .item .textArea p {
  opacity: 0.7;
  margin-bottom: 5px;
}
#portfolioSec .item .footer {
  border-top: 1px solid #383838;
  padding: 5px 0;
  align-items: center !important;
  background: #1a1a1a;
}
#portfolioSec .item .footer .w80 {
  border-right: 1px solid #383838;
  padding-left: 10px;
}
#portfolioSec .item .footer .w20 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#interestSec {
  padding: 80px 0;
  background: #f9f9fc;
  color: #000;
}
#interestSec .content {
  max-width: 800px;
  margin: 0 auto;
}
#interestSec .content button {
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */